<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(@song) do |f| %>
      <%= f.error_notification %>
    
      <div class="field form-group">
        <%= f.input :title, class: "form-control" %>
        <%= f.input :artist, class: "form-control" %>
      </div>
    
      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>