<section id="title" class="asbestos">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="galleryHeader">About the band</h1>
                    <p>Short bio to go here</p>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </section><!--/#title-->

    <section id="about-us" class="container">
        

        <div class="gap"></div>
        <h1 class="center galleryHeader">Meet the Band</h1>
        <div class="gap"></div>

        <div id="meet-the-team" class="row">
            <div class="col-md-4 col-xs-6">
                <div class="center">
                    <p><%= image_tag "about/aboutMF.png", class: "img-responsive img-thumbnail img-circle grow" %></p>
                    <h5>Mac Fontana<small class="designation muted">Keyboards and Vocals</small></h5>
                    <p>A blurb about ourselves here.</p>
                    <%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "https://www.facebook.com/mccrea.adams", class: "btn btn-social btn-facebook", :target => "_blank" %>
                </div>
            </div>

            <div class="col-md-4 col-xs-6">
                <div class="center">
                    <p><%= image_tag "about/aboutBD.png", class: "img-responsive img-thumbnail img-circle grow" %></p>
                    <h5>Big D<small class="designation muted">Guitar and Vocals</small></h5>
                    <p>A blurb about ourselves here.</p>
                    <%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "https://www.facebook.com/darryl.battaglia.7", class: "btn btn-social btn-facebook", :target => "_blank" %>
                </div>
            </div>        
            <div class="col-md-4 col-xs-6">
                <div class="center">
                    <p><%= image_tag "about/aboutME.png", class: "img-responsive img-thumbnail img-circle grow" %></p>
                    <h5>Mark E<small class="designation muted">Drums</small></h5>
                    <p>A blurb about ourselves here.</p>
                    <%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "https://www.facebook.com/markevangelista70", class: "btn btn-social btn-facebook", :target => "_blank" %>
                    <%= link_to '<i class="fa fa-twitter"></i>'.html_safe, "https://twitter.com/1lapilot", class: "btn btn-social btn-twitter", :target => "_blank" %>
                </div>
            </div>        
        </div><!--/#meet-the-team-->
    </section><!--/#about-us-->