<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>


<section id="title" class="asbestos">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="galleryHeader">Photo Gallery</h1>
                    <br>
                    <%= link_to "Click here for videos", videos_path, class: "galleryHeader" %>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </section><!--/#title-->
    
<div id="links">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= link_to (image_tag ("gallery/static_thumbs/Hermosa_1Thumb.png"), class: "thumbnail"), image_path('gallery/Hermosa_1.jpg'), :title => "" %>
      </div>
    <div class="col-md-4">
        <%= link_to (image_tag ("gallery/static_thumbs/Hermosa_2Thumb.png"), class: "thumbnail"), image_path('gallery/Hermosa_2.jpg'), :title => "" %>
      </div>
      <div class="col-md-4">
        <%= link_to (image_tag ("gallery/static_thumbs/Hermosa_3Thumb.png"), class: "thumbnail"), image_path('gallery/Hermosa_3.jpg'), :title => "" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= link_to (image_tag ("gallery/static_thumbs/Hermosa_4Thumb.png"), class: "thumbnail"), image_path('gallery/Hermosa_4.jpg'), :title => "" %>
      </div>
      <div class="col-md-4">
        <%= link_to (image_tag ("gallery/static_thumbs/Hermosa_5Thumb.png"), class: "thumbnail"), image_path('gallery/Hermosa_5.jpg'), :title => "" %>
      </div>
      <div class="col-md-4">
        <%= link_to (image_tag ("gallery/static_thumbs/MF&BDshoot_1Thumb.png"), class: "thumbnail"), image_path('gallery/MF&BDshoot_1.jpg'), :title => "" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= link_to (image_tag ("gallery/static_thumbs/MF&BDshoot_2Thumb.png"), class: "thumbnail"), image_path('gallery/MF&BDshoot_2.jpg'), :title => "" %>
      </div>
      <div class="col-md-4">
        <%= link_to (image_tag ("gallery/static_thumbs/MF&BDshoot_3Thumb.png"), class: "thumbnail"), image_path('gallery/MF&BDshoot_3.jpg'), :title => "" %>
      </div>
      <div class="col-md-4">
        <%= link_to (image_tag ("gallery/static_thumbs/mac1Thumb.png"), class: "thumbnail"), image_path('gallery/mac1.jpg'), :title => "" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= link_to (image_tag ("gallery/static_thumbs/mac2Thumb.png"), class: "thumbnail"), image_path('gallery/mac2.jpg'), :title => "" %>
      </div>
      <div class="col-md-4">
        <%= link_to (image_tag ("gallery/static_thumbs/Amy_pic_MFBD_01Thumb.png"), class: "thumbnail"), image_path('gallery/Amy_pic_MFBD_01.jpg'), :title => "" %>
      </div>
      <div class="col-md-4">
        <%= link_to (image_tag ("gallery/static_thumbs/pickquick1Thumb.png"), class: "thumbnail"), image_path('gallery/pickquick1.JPG'), :title => "" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= link_to (image_tag ("gallery/static_thumbs/backYardParty_thumb.jpg"), class: "thumbnail"), image_path('gallery/backYardParty.jpg'), :title => "" %>
      </div>
      <div class="col-md-4">
        <%= link_to (image_tag ("gallery/static_thumbs/OH_01_thumb.jpg"), class: "thumbnail"), image_path('gallery/OH_01.jpg'), :title => "" %>
      </div>
      <div class="col-md-4">
        <%= link_to (image_tag ("gallery/static_thumbs/OH_02_thumb.jpg"), class: "thumbnail"), image_path('gallery/OH_02.jpg'), :title => "" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= link_to (image_tag ("gallery/static_thumbs/OH_03_thumb.jpg"), class: "thumbnail"), image_path('gallery/OH_03.jpg'), :title => "" %>
      </div>
    </div>
  </div>
</div>



<script>

document.getElementById('links').onclick = function (event) {
  event = event || window.event;
  var target = event.target || event.srcElement,
    link = target.src ? target.parentNode : target,
    options = {index: link, event: event},
    fullscreen = false;
    links = this.getElementsByTagName('a');
  blueimp.Gallery(links, options);
};
</script>